// For Big TV Screen
@media screen and (min-width: 1171px) {
}

// For laptop
@media screen and (min-width: 801px) and (max-width: 1170px) {
}

// For tablet and small laptop
@media screen and (max-width: 800px) {
  .textinput {
    flex-direction: column;

    input {
      width: 95%;
      height: 45px;
      line-height: normal;
    }

    .input-btn {
      height: 45px;
      margin: 1rem 0;

      a {
        font-size: 1.1rem;
      }
    }
  }

  .box {
    & > div {
      flex-direction: column;
      text-align: center;
      width: 98%;

      & > div {
        text-align: center;
      }

      .box-content {
        flex-basis: 100%;
        margin: 2rem 0;
        h1 {
          font-size: 1.7rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .questions {
    padding: 4em 0;
    &-header {
      font-size: 0.8rem;
    }

    & > div:nth-child(2) {
      width: 100%;
    }

    .question {
      &-answer {
        font-size: 1.1rem;
      }

      &-title {
        font-size: 0.8rem;

        .btn-open {
          width: 20px;
        }
      }
    }

    & > div:nth-child(3) {
      width: 100%;
      p {
        font-size: 1.1rem;
      }
    }
  }

  .showcase {
    height: 90vh;
    box-shadow: inset 50px 30px 150px rgba(0, 0, 0, 0.4),
      inset -50px -30px 150px rgba(0, 0, 0, 0.7);

    .showcase-inner {
      width: 90%;
      h1 {
        font-size: 2rem;
        width: 100%;
      }

      h2 {
        font-size: 1.2rem;
        margin-top: 0.3rem;
      }

      p {
        margin: 0.5rem 0 0.2rem 0;
        font-size: 1rem;
      }
    }
  }

  .footer {
    padding: 2em 0;
    font-size: 1rem;

    .row-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// For smart phone
@media screen and (max-width: 600px) {
  .header {
    padding: 2rem 1rem;
    .logo {
      width: 100px;
    }

    a {
      padding: 0.4rem 1rem;
    }
  }
}
